<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmmplb.activiti.dao.ApplyMapper">

    <sql id="base_column">
        <!-- @sql select -->
        ba.`id`          as id,
        ba.`title`       as title,
        ba.`user_id`     as userId,
        ba.`type`        as type,
        ba.`business_id` as businessId,
        ba.`status`      as status,
        ba.`apply_time`  as applyTime,
        ba.`create_time` as createTime,
        ba.`update_time` as updateTime
        <!-- @sql from `biz_apply` ba -->
    </sql>

    <sql id="base_select">
        select
        <include refid="base_column"/>
        from `biz_apply` ba
    </sql>

    <select id="selectByPaged" resultType="com.cmmplb.activiti.vo.ApplyVO">
        select
        <include refid="base_column"/>
        ,su.`name`   as userName
        ,arp.`NAME_` as defName
        from `biz_apply` ba
        left join `sys_user` su on ba.`user_id` = su.`id`
        left join `act_re_procdef` arp on arp.KEY_ = ba.`def_key`
        <where>
            <if test="dto.keywords != null and dto.keywords != ''">
                and ba.`title` like concat('%', lower(#{dto.keywords}), '%')
            </if>
            <if test="dto.type != null">
                and ba.`type` = #{dto.type}
            </if>
            <if test="dto.status != null">
                and ba.`status` = #{dto.status}
            </if>
            <if test="dto.userId != null">
                and ba.`user_id` = #{dto.userId}
            </if>
        </where>
        order by ba.`create_time` desc
    </select>

    <select id="selectDetailsById" resultType="com.cmmplb.activiti.vo.ApplyDetailsVO">
        select
        <include refid="base_column"/>
        ,su.`name`   as userName
        from `biz_apply` ba
        left join `sys_user` su on ba.`user_id` = su.`id`
        where ba.`id` = #{id}
    </select>

    <select id="selectStatisticsList" resultType="com.cmmplb.activiti.dto.ApplyStatisticsTimeDTO">
        select
         ba.id                                      as          `id`
        ,ba.type                                    as          `type`
        <if test="type == 1">
            ,concat(hour(ba.`create_time`), ':00')    as          `time`
        </if>
        <if test="type == 2">
            ,date_format(ba.`create_time`,'%c-%e')    as          `time`
        </if>
        from `biz_apply` ba
        <where>
            <if test="type == 1">
                <!-- 这里取前24小时记录 -->
                and ba.`create_time` >= DATE_SUB(now(), INTERVAL 24 hour )
            </if>
            <if test="type == 2">
                <!-- 这里取前一个月记录 -->
                and ba.`create_time` >= DATE_SUB(now(), INTERVAL 1 month )
            </if>
        </where>
    </select>
</mapper>