<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmmplb.activiti.dao.EvectionApplyMapper">

    <sql id="base_column">
        <!-- @sql select -->
        bea.`id`          as id,
        bea.`user_id`     as userId,
        bea.`status`      as status,
        bea.`reason`      as reason,
        bea.`start_time`  as startTime,
        bea.`end_time`    as endTime,
        bea.`create_time` as createTime,
        bea.`update_time` as updateTime
        <!-- @sql from `biz_evection_apply` bea -->
    </sql>

    <sql id="base_select">
        select
        <include refid="base_column"/>
        from `biz_evection_apply` bea
    </sql>

    <select id="selectDetailsById" resultType="com.cmmplb.activiti.vo.EvectionApplyDetailsVO">
        select
        <include refid="base_column"/>
        ,su.`name` as userName
        from `biz_evection_apply` bea
        left join `sys_user` su on bea.`user_id` = su.`id`
        where bea.`id` = #{id}
    </select>
</mapper>